/* *{
    color: white;
} */
.admin-content {
    background-color: #292A2D;
    margin-left: 20%;
    width: 80%;
    color: white;
}

.admin-dashboard img {
    height: 450px;
    padding: 20px;
}
.admin-links {
    background-color: #000;
    width: 20%;
    padding: 20px;
    position: fixed;
    height: 600px;
    color: white;
}

.admin-links .nav-link {
    display: block;
    font-size: 15px;
    text-decoration: none;
    color: white;
    padding: 15px;
}
.admin-links .logout{
    font-size: 17px;
    text-decoration: none;
}
.admin-links .logout:hover{
    color: red;
}
/* Change background and text color when active */
.admin-links .nav-link.active {
    background: #0D6EFD; /* Green background */
    border-radius: 10px;
}

/* Dashboard Link Background Changes When Navigating Away */
.dashboard-inactive {
    background: #292A2D !important;
}

.admin-links .nav-link:hover {
    background: #0D6EFD !important;
    border-radius: 10px;
}

.forms{
    width: 50%;
    margin: auto;
}
