/* Font size for all on home page */
*{
    font-size: 12px;
}
/* Giving shadow */
.homeShadow{
    box-shadow: 1px 2px 3px #d1d1d1;
    /* width: 365px; */
}
.homeShadow:hover{
    box-shadow: 1px 10px 10px #bfbfbf;
    cursor: pointer;
    transform: scale(1.03);
}
/* For larger fonts */
.largeFont{
    font-size: 25px;
    font-family: "PT Serif", serif;
    font-weight: bold;
    font-style: italic;
}
/* Class option area */
.clasLeft img{
    height: 510px;
    box-shadow: 1px 1px 5px grey;
    margin-left: 40px;
    /* float: right; */
    /* align-items: flex-end; */
}
.classRight img{
    height: 252px;
    width: auto;
}
/* Discount and Class responsive */
@media (min-width:672px) {
    .classRight .o{
        width: 200px;
    }
}
@media (min-width:1080px) {
    .classRight .o{
        width: 250px;
    }
}
/* About section */
.homeAbout{
    padding: 20px 200px;
    justify-content: center;
}
.team-member:hover{
    transform: scale(1.1);
    cursor: pointer;
}
/* Adjusting For another screen size that did not show as we want */
@media (max-width:920px) {
    img {
        width: 310px;
    }
    .homeAbout img{
        width: 100px;
    }
}