*{
    font-size: 12px;
    font-weight: 700;
    line-height: normal;
    width: 100%;
}
 nav section{
    position: fixed;
    width: 100%;
    z-index: 1000;
    top: 0;
 }
 .linkHover{
    text-decoration: none;
    color: white;
    cursor: pointer;
 }
.linkHover:hover{
    color: #22e308;
}
.header-wrapper img{
    width: 45px;
}