.footer-container img{
    width: 120px;
}
.footer-container h2{
    padding-top: 30px;
}
.footer-container p{
    font-size: 13px;
    color: #9f9e9e;
    cursor: pointer;
}
.footer-container p:hover{
    color: #22e308;
}