.bookingWrapper{
    position: sticky;
    margin-top: 70px;
    box-shadow: 1px 1px 5px grey;
    width: 1000px;
    height: 10px;
    margin: auto;
    border-radius: 10px;
    border: 3px solid gray;
}
.bottomRed{
    border: 1px solid grey;
}
.bottomRed:hover{
    box-shadow: 1px 1px 5px grey;
    border-bottom: 2px solid red;
}
.inputs:hover{
    box-shadow: 3px 3px 6px grey; 
}
@media (max-width:560px) {
    .bookingWrapper{
        margin-top: -110px;
        width: 360px;
        height: 100px;
    }
}
@media (min-width:561px) {
    .bookingWrapper{
        margin-top: -200px;
        height: 190px;
    }
} 
Link {
    text-decoration: none;
}
